<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action = "/create" method = "post" accept-charset = "utf-8">
        <input type = "text" name = "content">
    </form>
    <%todos.forEach(function(todo){%>
    <p><% if(todo._id == current){%>
    <form action = "/update/<%= todo._id %>" method = "post" accept-charset = "utf-8">
        <input type = "text" name = "content" value = "<%= todo.content %>"/>
    </form>
    <%}else{%>
    <a href = "/edit/<%= todo._id %>" title = "Update"><%=todo.content %></a>
    <%}%>
    <a href = "/delete/<%=todo._id%>" title = "delete">delete</a></p>
    <%});%>
  </body>
</html>
